style.css
/*styles for my resume*/
head,body{
font-family:'Lora', sans-serif;
color: #444;
font-weight:400;
font-size: 1em;
background-color:#f4f2f2;
}
/*around the entire document*/
#container{
width:100%;
max-width:1200px;
margin:0 auto;
padding-bottom:50px;
}


/*topper for page*/
#name{
    font-size: 3em;
    color:#33485e;
    text-align:center;
    font-weight:400;
    border-bottom:1px solid #33485e;
    width:60%;
    min-width:300px;
    margin:0 auto;
}
/*title*/
#title{
    font-size:1.5em;
    color:#33485e;
    text-transform:capitalize;
    font-weight:600px;
    text-align:center;
    margin-top:20px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
}
/*Headings for main skills*/
.sectionheader{
    font-size:1.5em;
    background-color: #33485e;
    color:white;
    text-transform:capitalize;
    font-weight:400;
    margin-top:20px;
    margin-bottom:10px;
    margin-right:0px;
    margin-left:0px;
    width:70%;
    min-width:300px;
}
/*paragraph*/
.description{
    margin-top:10px;
    margin-bottom:10px;
    margin-right:0px;
    margin-left:0px;
}

/*contact info*/
.menu{
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
    padding-top:0px
    padding-bottom:0px;
    padding-right:0px;
    padding-left:0px;
}
.menu li{
list-style-type:none;
display:inline;
}

/*Job title*/
.jobtitle{
    font-weight:600;
    font-size:1.5em;
}
/*Job organization*/
.organization{
    font-weight:400;
    font-size:1.25em;
}
/*Job date*/
.date{
    font-weight:400;
    font-size:1em;
    font-style:italic;
    margin-top:2px;
    margin-bottom:0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
}

ul{
    font-size:1em;
}
/*list under skills*/
#do{
   margin-top:5px;
   margin-bottom:0px;
   margin-right:0px;
   margin-left:0px;
   font-size: 1.25em;
   font-style:bold;
}
/*list under education*/
#degrees{
    margin-top:5px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
 }
 #top{
    width:60%;
    min-width:300px;
    margin:0 auto;
    margin-bottom:30px;
 }
 /*header*/
 .header{
    width:100%;
    margin:0 auto;
 }
 img{
    width:100%;
    margin:0 auto;
 }
 .text{
    color:white;
    font-weight:400px;
    font-size: 15 px;
 }
 h2{
font-size: 1.5em;
 }
 .summary{
    font-size:0.75em;
    color:#616161;
 }